{
    "presets": [
        "babel-preset-react",
        "es2015",
        "babel-preset-env"
    ],
    "plugins": [
        "babel-plugin-react-html-attrs",
        "babel-plugin-transform-decorators-legacy",
        "babel-plugin-transform-object-rest-spread",
        "babel-plugin-transform-class-properties"
    ]
}